.index-list li {
	display: block;
	border: 1px solid red;
	padding: 30px;
	list-style-type: none;
	width: 100px;
}

.index-list {
	display: inline-block;
	border: 1px blue solid;
	padding: 20px 20px 5px 20px;
}

.index-list.ui-sortable > li {
    cursor: move;
}

.index-list > li {
	margin-bottom: 15px;
}

